.book-item{
  width: 85vw;
  display: flex;
  flex-direction: row;
}
.book-title{
  font-size: 32px;
  max-width: 750px;
}
.book-item-img{
  margin-right: 5%;
  height: 300px;
  width: 200px;
  background-position: bottom;
  background-size: 300px;
}
.book-item-info-wrapper{
  width: calc(80% - 200px);
}
.book-item-price{
  font-size: 24px;
}
.book-title{
  color: #185244;
}
.btn-info{
  margin-left: 5%;
}