.table-light{
  color: #185244;
}
.shopping-cart-table{
  width: 85vw;
  border: 1px solid #56CC9D;
}
.shopping-cart-table-header{
  background-color: #56CC9D;
  color: #fff;
}
.cart-btn{
  margin: 0 5px;
}
.shopping-cart-total{
  text-align: right;
  margin-bottom: 5%;
  font-weight: 800;
}
.td-btns{
  width: 175px;
}
.shopping-cart{
  margin-top: 6rem;
}
.return-btn{
  margin: 0;
}
.shopping-cart-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 3%;
}